# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
career-refined-backend/venv
career-refined-backend/.env
career-refined-backend/logs
career-refined-backend/nltk_data
career-refined-backend/pdfs
career-refined-backend/testthis.py
career-refined-backend/resume.tex

# Node modules
career-refined-frontend/node_modules

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log
logs/